<!-- Footer -->
    <footer class="text-muted">
        <div class="footer">
            <div class="container">
                    <div class="footer-copyright text-center">
                        Copyright &copy; Team LiveLight 2016
                    </div>
            </div>
        </div>
    </footer>