<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LiveLight</title>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Bootflat CSS -->
    <link href="https://bootflat.github.io/bootflat/css/bootflat.css" rel="stylesheet">

    <!-- font-awesome CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- video.js CSS -->
    <link href="https://vjs.zencdn.net/4.2/video-js.css" rel="stylesheet">

    <!-- videojs-markers CSS -->
    <link href="stylesheets/videojs.livelight.css" rel="stylesheet">

    <!-- videojs-markers CSS -->
    <link href="stylesheets/videojs.markers.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/style.css" rel="stylesheet">  

    <!-- Style for Snackbar -->
    <style>
        #snackbar {
                visibility: hidden;
                min-width: 250px;
                margin-left: -125px;
                background-color: #333;
                color: #fff;
                text-align: center;
                border-radius: 2px;
                padding: 16px;
                position: fixed;
                z-index: 1;
                left: 50%;
                bottom: 30px;
                font-size: 17px;
            }
        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }
        .special-blue {
            background-color: #4949d8 !important;
        }
    </style>