<!-- Navigation -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">LiveLight</a>
        </div>
        <ul class="nav navbar-nav">
            <li <% if (navActive === "index") { %> class="active" <% } %> ><a href="/">Live Stream</a></li>
            <li class="divider"></li>
            <% if (!user) { %>
                <li <% if (navActive === "login") { %> class="active" <% } %> ><a href="login">Login</a></li>
                <li <% if (navActive === "signup") { %> class="active" <% } %> ><a href="signup">Signup</a></li>
            <% } %>
            <% if (user) { %>
                <li><a href="#">Hello <span id="user"><%= user.local.username %></span></a></li>
                <li> <a href="logout">Logout</a></li>
            <% } %> 
        </ul>
        </div>
    </nav>
