    <script type="text/javascript" charset="utf-8" src="https://vjs.zencdn.net/4.2/video.js"></script>


    <!-- jQuery -->
    <script type="text/javascript" charset="utf-8" src="js/jquery.js"></script>


    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" charset="utf-8" src="js/bootstrap.min.js"></script>

    <!-- Bootflat's JS files.-->
    <script type="text/javascript" charset="utf-8" src="https://bootflat.github.io/bootflat/js/icheck.min.js"></script>


    <!-- chart.js -->
    <script src="js/Chart.js"></script>


