<!-- values from server -->
    <script>
        var videoLength = <%= videoLength  %>;
        var sessionTime = <%= sessionTime  %>;
    </script>

    <!-- jQuery -->
    <script type="text/javascript" charset="utf-8" src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" charset="utf-8" src="js/bootstrap.min.js"></script>

    <!-- Bootflat's JS files.-->
    <script type="text/javascript" charset="utf-8" src="https://bootflat.github.io/bootflat/js/icheck.min.js"></script>

    <!-- Socket io -->
    <script type="text/javascript" charset="utf-8" src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

    <!-- video.js -->
    <script type="text/javascript" charset="utf-8" src="https://vjs.zencdn.net/4.2/video.js"></script>

    <!-- videojs-markers -->
    <script type="text/javascript" charset="utf-8" src='js/videojs-markers.js'></script>

    <!-- videojs-disable-progress -->
    <script type="text/javascript" charset="utf-8" src="js/videojs.disableProgress.js"></script>

    <!-- html2canvas -->
    <script type="text/javascript" charset="utf-8" src="js/html2canvas.js"> </script>

    <!-- Livelight -->
    <script type="text/javascript" charset="utf-8" src="js/livelight.js"> </script>