<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body style="background-color: #F5F7FA;">
    
    <% include ../partials/navigation %>

    <!-- Page Container -->
    <div class="container">
        
        <!-- Modal Video Player-->
        <div class="modal fade" id="highlightModal" tabindex="-1" role="dialog" aria-labelledby="highlightModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="modalClose" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="highlightModalLabel">Hightlight</h4>
            </div>
            <div class="modal-body">
                <video id="highlightPlayer" crossOrigin="anonymous" controls class="video-js vjs-default-skin" height="270" width="480" src="https://s3.ap-northeast-2.amazonaws.com/kaist-cs492-livelight/video/8ball.mp4" type="video/mp4">
                </video>
            </div>
            <div class="modal-footer">
                <br>
                <button type="button" id="modalClose" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
        </div>

        <!-- Alert for session status -->
        <% if (sessionTime == -1) { %>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>            
            <p>This livestream is over. Next livestream will begin at <strong><%= nextSessionHour %>:00 on the hour.</strong></p>
        </div>
        <% } %>

        <!-- Heading Row --> 
        <div class="row">
            <div class="col-md-8">
                <video id="demo" crossOrigin="anonymous" controls class="video-js vjs-default-skin" height="400" width="750" src="https://s3.ap-northeast-2.amazonaws.com/kaist-cs492-livelight/video/8ball.mp4" type="video/mp4">
                </video>
                <video id="thumbnailPlayer" crossOrigin="anonymous" controls class="video-js vjs-default-skin" height="150" width="300" src="https://s3.ap-northeast-2.amazonaws.com/kaist-cs492-livelight/video/8ball.mp4" type="video/mp4">
                </video>
                <br>
                <br>
                <div class="alert alert-info alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong>Info!</strong> Click the button below to mark the moment you liked. Your moments will be used to genrate highlights.
                </div>
                <button data-toggle="tooltip" style="padding: 10px 24px; border-radius: 8px;" title = "This button is only active when you submit highlight within 5 seconds." class="btn btn-danger disabled" id="undo">
                        <i class="fa fa-undo"></i>
                </button>
                <% if (sessionTime != -1) { %>
                <button class="btn btn-primary" style="padding: 10px 24px; border-radius: 8px;" id="highlight" href="#">Add this Moment</button>
                <% } %>
                <% if (sessionTime == -1) { %>
                <button data-toggle="tooltip" style="padding: 10px 24px; border-radius: 8px;"  title = "This button is deactived because the livestream is over." class="btn btn-primary disabled" id="highlight" href="#">Add this Moment</button>
                <% } %>
                <hr class="dashed" />
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <div >
                    <div class="panel panel-primary">
                        <div class="panel-heading">List of Highlights</div>
                        <div class="panel-body">
                            Below are list of crowd-generated highlights.
                        </div>
                        <ul class="generate-highlights">
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <% if (user) { %>
            <div id="snackbar">Wow! You love this moment.</div>
            <% } %>
            <% if (!user) { %>
            <div id="snackbar">Please login to add moments you love</div>
            <% } %>
        </div>
        <!-- /.row -->
                       
    </div>
    <!-- /.container -->

    <% include ../partials/footer %>

    <% include ../partials/scripts %>
    
</body>

</html>
