<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body style="background-color: #F5F7FA;">
    
    <% include ../partials/navigation %>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Log In</h3>
                    </div>
                    <div class="panel-body">
                        <form accept-charset="UTF-8" role="form" action="/login" method="POST">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Username" name="username" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password" value="">
                            </div>
                            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Log In">
                        </fieldset>
                        </form>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">Need an account? <a href="/signup">Sign up</a></li>
                        <li class="list-group-item">Or go <a href="/">Home</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <% include ../partials/footer %>

    <% include ../partials/scripts %>
    
</body>

</html>