<head>

    <% include ../partials/head %>
</head>
<body>

    <div class="container">
        <h1>Results</h1>
        <div class="row">
            <div class="col-md-9">
                <div id="canvas-wrapper">
                    <canvas id="resultChart" width="400" height="400"></canvas>
                </div>
                <div id="clusterBar"> <div id="goldBar"></div>   </div>
            </div>
            <div class="col-md-3">
                <h3>Marker</h3>
                <div class="form-group">
                    <label for="time">Time</label>    
                    <input type="text" class="form-control" name="time" />
                </div>
                <h3>Cluster</h3>
                <div class="form-group">
                    <label for="neighbor">Neighbor</label>    
                    <input type="text" class="form-control" name="neighbor" />
                    <label for="radius">Radius</label>    
                    <input type="text" class="form-control" name="radius" />
                </div>
                <button id="getResult" class="btn btn-primary">
                    Submit 
                </button>
                <button id="clearChart" class="btn btn-primary">
                    Clear 
                </button>
                <div class="num"></div>
            </div>
        </div>    
        <div>
            <ul class="highlightTimes"></ul>
        </div>
        <video id="demo" controls class="video-js vjs-default-skin" height="400" width="750">
            <source src="https://s3.ap-northeast-2.amazonaws.com/kaist-cs492-livelight/video/8ball.mp4" type="video/mp4">
        </video>
    </div>
    
    <% include ../partials/result %>
    <script src="js/result.js"></script>
</body>
