.username{
    display: inline-block;
    color : white;
}

#thumbnailPlayer{
     display: none;
}

.thumbnailDiv {
    margin : 5px;
}

.thumbnailDiv > img {
    width : 100%;
}

.generate-highlights {
    overflow : auto;
    max-height : 400px;
}
.currentHighlight{
    border : 3px dotted red;
}
#highlight{
    width : 570px;
}
.vjs-default-skin.vjs-has-started .vjs-control-bar {
  display: block !important;
  height: 3.2em;
  visibility: visible !important;
  opacity: 1 !important;
  bottom: -3.4em !important;
  background-color: rgba(7, 20, 30, 1) !important;
}

#clusterBar{
    border : 1px solid black;
    height : 90px;
    position: relative;
}
#goldBar{
    position : absolute;
    height : 100%;
    width : 100%;
}
.cluster{
    position : absolute;
    height : 100%;
    background: rgba(200, 0, 0, 0.5);
}
.clusterGold{
    position : absolute;
    height : 100%;
    border : 1px solid #FFD700;
    background: rgba(255,211,20,0.5);
}
.num{
  font-size : 25px;
}